.profilepic {
    border-radius: 50%; 
    max-width: 40%; 
    display: block; 
    margin-left: auto; 
    margin-right: auto;
    padding-top: 10px;
    padding-bottom: 10px;
}

.siplogo {
    max-width: 40%; 
    display: block;
    margin-left: auto; 
    margin-right: auto;
}


/* Profile Pic UI */

.profile-pic {
    max-width: 200px;
    max-height: 200px;
    display: block;
}

.file-upload {
    display: none;
}
.circle {
    border-radius: 1000px !important;
    overflow: hidden;
    width: 128px;
    height: 128px;
    border: 8px solid rgba(255, 255, 255, 0.7);
    position: absolute;
    top: 72px;
}

.p-image {
  position: absolute;
  top: 155px;
  right: 180px;
  color: #666666;
  transition: all .3s cubic-bezier(.175, .885, .32, 1.275);
}
.p-image:hover {
  transition: all .3s cubic-bezier(.175, .885, .32, 1.275);
}
.upload-button {
  font-size: 1.2em;
}

.upload-button:hover {
  transition: all .3s cubic-bezier(.175, .885, .32, 1.275);
  color: rgb(255, 5, 5);
}